.div1{
    margin-left: 120px;
    margin-bottom: 30px;
}

.login{
    color: #0a66c2;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 60px;
}

#login-button {
    font-family: sans-serif;
    margin: 10px;
    color: gray;
    text-align: center;
    font-size: 15px;
    width: 170px;
    position: relative;
}
#login-button:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
}

#login-button:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
}

.button-google{
    margin-bottom: 15px;
    color:gray;
    border-radius: 20px;
    
}