.main-app{
    display: block;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 25%;
    max-width: fit-content;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    /* background-color: aqua; */

}



.inside-div{
    display: block;
    max-width: 100%;
    margin-left: 10px;
    margin-block-end: 10px;

 
}
.sign-in{
    /* background: pink; */
}

.sign-in .sign-in-h{
    font-size: 30px;

}

.sign-in .sign-in-p{
    display:flex;
    font-size: small;
    margin-top: auto;
}

.input {
    display:contents;
    padding-top: 10px;
    font-size: smaller;
    color: black;

}
.input .input-1{
    display: block;
    margin-bottom: 10px ;
    font-family: sans-serif;

}

/* #login-button {
    font-family: sans-serif;
    margin: 20px auto;
    color: gray;
    text-align: center;
    font-size: 15px;
    width: 180px;
    position: relative;
   
}
#login-button:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  
}

#login-button:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  
} */



