.main-app{
    display: block;
    margin-top: 5% ;
    margin-left: 30% ;
    margin-right: 45% ;
    border-color: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: unset;
    /* background-color: aqua; */

}



.inside-div{
    display: block;
    max-width: 100%;
    margin-left: 25px;
    margin-right: 10px;
    margin-block-end: 10px;

 
}
.sign-in{
    
    background: white;
}

.sign-in .sign-in-h{
    font-size: 30px;

}

.sign-in .sign-in-p{
    
    font-size: small;
    margin-top: auto;
}

.input {
    font-size: smaller;
    color: black;
    display: block;
    margin-bottom: 5px ;
    margin-right: 50px;
    margin-block-start: 30px ;
    font-family: sans-serif;

}
.input .input-1 , .input-2{
    display: block;
    position: relative;
    height:40px  ;
    width: 250px;;
    margin-top: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    
}



.button .button-1{
    display: block;
    margin-bottom: 20px;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.button .button-2{
    margin-left: 30%;
    border-radius: 10px;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

 #login-button {
    font-family: sans-serif;
    margin: 20px auto;
    color: black;
    text-align: center;
    font-size: 15px;
    width: 180px;
    position: relative;
   
}
#login-button:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: green;
    left: 0;
    top: 50%;
    position: absolute;
  
}

#login-button:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: green;
    right: 0;
    top: 50%;
    position: absolute;
  
} 
